[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
regex = "*"
xlrd = "*"
black-but-with-tabs-instead-of-spaces = "*"

[dev-packages]

[requires]
python_version = "3.9"
